---
layout: base.njk
title: Главная
---

<div class="hero-section">
    <div class="hero-overlay"></div>
    <div class="hero-content">
        <h1 class="hero-title-large">
            <span data-translate="hero_part1">Архитектура</span> 
            <span style="color: var(--accent-color);" data-translate="hero_part2">иных миров</span>
        </h1>
    </div>
</div>

<div class="featured-cards-container">
    <a href="/blog" class="link-card">
        <i class="fa-solid fa-feather-pointed"></i>
        <h3 data-translate="blog_card">Истории</h3>
        <p data-translate="stories_desc">Короткая проза и черновики</p>
    </a>
    <a href="/books" class="link-card">
        <i class="fa-solid fa-book-open"></i>
        <h3 data-translate="books">Книги</h3>
        <p data-translate="books_desc">Мои опубликованные романы</p>
    </a>
    <a href="/notes" class="link-card">
        <i class="fa-regular fa-note-sticky"></i>
        <h3 data-translate="notes">Заметки</h3>
        <p data-translate="notes_desc">Мысли и объявления</p>
    </a>
</div>